.item-search-card {
    width: 900px;
    margin: 30px auto;

    background: white;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.15);

    padding: 25px;
}

.search-section {
    border: 2px solid #d1d5db;

    border-radius: 8px;

    padding: 25px;

    margin-bottom: 25px;
}

.result-section {
    border: 2px solid #d1d5db;

    border-radius: 8px;

    padding: 20px;
}